@model IS403P2.Models.MissionQuestions

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MissionQuestions</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mission.missionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mission.missionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.userEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.userEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.question)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.question)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.answer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.answer)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.missionQuestionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
