@model IS403P2.Models.MQU

@{
    ViewBag.Title = "Asked";
}

<div class="container">
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li><a href="@Url.Action("Index", "Action")">Missions</a></li>
        <li class="active">FAQ's</li>
    </ol>
</div>

<center>
    <h2 class="fontchange">President @Model.Mission.missionPresidentName welcomes you to the </h2>
    <h1 class="fontchange">@Model.Mission.missionName Mission!</h1>
</center>


<center><h2 class="fontchange">Learn from missionaries that have served in your mission!</h2></center>
<!--<img src="Url.Content(ViewBag.Flag)" style="width:100%" />-->


<br /><br />
<h2 class="fontchange">Fun facts about the mission:</h2>
<h4>Address: @Model.Mission.missionAddress</h4>
<h4>Language: @Model.Mission.language</h4>
<h4>Climate: @Model.Mission.climate</h4>
<h4>Dominant Religion: @Model.Mission.dominantReligion</h4>

<br />


@foreach (var question in Model.MissionQuestions)
{
    @Html.BeginForm("Sign_in", "Home", FormMethod.Post, new { @class = "form-signin" })
    {
        <h2 class="fontchange">Question</h2>
        <h5>@question.question</h5>

        <br />
           
        <h2>Answer</h2>
        <h5>@question.answer</h5>
    }

}

<h2>New Question?</h2>

@using (Html.BeginForm("Sign_in", "Home", FormMethod.Post, new { @class = "form-signin" }))
{

    <textarea name="message" rows="1" placeholder="Ask Question Here..." style="display:inline"></textarea>
    <button class="btn btn-xs btn-success" type="reset" style="display:inline">Submit Question</button>
}
